<ion-view cache-view="false" class="homeView" view-title="Home" hide-nav-bar="true">
    <ion-content class="center-content padding" overflow-scroll="true">
        <img src="img/ionphaser.png" alt="Ion-Phaser" class="animated rubberBand animatedDelay" on-tap="animateLogo($event)" style="width: 100%;max-width: 500px">
        <div class="card animated bounceInRight animatedDelay"><h1>Fun Games Collections</h1>
        </div>
        <div class="card animated bounceInLeft animatedDelay">
            <button class="button button-block button-dark" nav-clear ui-sref="app.gallery">START!</button>
        </div>
    </ion-content></ion-view>