<div>
    <link rel="stylesheet" style="text/css" href="css/style.css">
    <table>
        <tr class="row1">
            <td ng-bind="coords[0]" ng-click="move(0)" ng-class="statusColor(0)" id="cell0">
                &nbsp;</td>
            <td ng-bind="coords[1]" ng-click="move(1)" ng-class="statusColor(1)" id="cell1">
                &nbsp;</td>
            <td ng-bind="coords[2]" ng-click="move(2)" ng-class="statusColor(2)" id="cell2">
                &nbsp;</td>
        </tr>
        <tr class="row2">
            <td ng-bind="coords[3]" ng-click="move(3)" ng-class="statusColor(3)" id="cell3">
                &nbsp;</td>
            <td ng-bind="coords[4]" ng-click="move(4)" ng-class="statusColor(4)" id="cell4">
                &nbsp;</td>
            <td ng-bind="coords[5]" ng-click="move(5)" ng-class="statusColor(5)" id="cell5">
                &nbsp;</td>
        </tr>
        <tr class="row3">
            <td ng-bind="coords[6]" ng-click="move(6)" ng-class="statusColor(6)" id="cell6">
                &nbsp;</td>
            <td ng-bind="coords[7]" ng-click="move(7)" ng-class="statusColor(7)" id="cell7">
                &nbsp;</td>
            <td ng-bind="coords[8]" ng-click="move(8)" ng-class="statusColor(8)" id="cell8">
                &nbsp;</td>
        </tr>
    </table>
    <p ng-bind="status" />
</div>
