<ion-view cache-view="false" class="homeView" view-title="Home" hide-nav-bar="true">
    <ion-content class="center-content padding" overflow-scroll="true">
        <img src="img/ionphaser.png" alt="Ion-Phaser" class="animated tada animatedDelay" on-tap="animateLogo($event)" style="width: 100%;max-width: 500px;">
        <div class="card animated bounceInUp animatedDelay">
            <h1>By Nicholls</h1>
        </div>
        <button class="button button-block button-dark" nav-clear ui-sref="app.gallery">
            START
        </button>
    </ion-content>
</ion-view>