<ion-view view-title="Photo" class="photoView">
    <div class="bar bar-subheader">
		<div class="button-bar">
			<button class="button button-assertive" ng-click="takePhoto()">Take a photo</button>
			<button class="button button-dark" on-tap="previewPhoto()">Preview</button>
		</div>
	</div>
    <ion-content class="has-subheader" ng-class="{ 'has-footer' : (photoTool.options.length > 0) }">
        <div class="card-wrapper">
            <div class="card stable-bg" disable-side-menu>
                <div class="item item-body">
                    <ion-phaser id="photo" data-tap-disabled="true" game="photo" style="width:100%;height:100%;"></ion-phaser>
                </div>
                
            </div>
        </div>
    </ion-content>

    <ion-footer-bar class="bar-stable" ng-if="photoTool.options.length > 0">        
        <ion-scroll scrollbar-x="false" has-bouncing="true" direction="x" zooming="false">
            <div class="item item-image" ng-repeat="option in photoTool.options" ng-click="selectFilter(option)">
                <img ng-src="{{option.imageData}}" alt="Filter">
            </div>
        </ion-scroll>
    </ion-footer-bar>
    <canvas id="newImg" style="position:absolute;left:-999em;" />
</ion-view>