<ion-view class="signatureView" view-title="Draw in canvas">
	<div class="bar bar-subheader">
		<div class="button-bar">
			<button class="button button-assertive" ng-click="clearSignature()">Clear</button>
			<button class="button button-dark" ng-click="previewSignature()">Preview</button>
		</div>
	</div>
	<ion-content class="has-subheader has-footer" scroll="false">
		<ion-pane class="padding">
			<div class="card animated bounceInDown animatedDelay" disable-side-menu>
				<ion-phaser id="signature" data-tap-disabled="true" game="signature" style="height:100%;"></ion-phaser>
			</div>
		</ion-pane>
	</ion-content>
	<ion-pull-up-footer class="bar-stable" initial-state="minimized" default-behavior="expand" max-height="300px">
		<ion-pull-up-handle width="100" height="25" toggle="ion-chevron-down ion-chevron-up" style="border-radius: 25px 25px 0 0; border-top: solid 1px #888">
			<i class="icon ion-chevron-up"></i>
		</ion-pull-up-handle>
		<ion-pull-up-content style="margin-top:0;">
			<ion-content>
			<div class="range range-dark">
				<i class="icon ion-android-remove"></i>
				<input type="range" name="volume" min="0" max="10" ng-model="signatureTool.lineWidth" ng-change="changeLineWidth()">
				<i class="icon ion-android-add"></i>
			</div>
			<ion-list>
				<div class="row row-wrap row-no-padding">
					<ion-item class="col col-20 group animated jello" ng-repeat="option in signatureTool.options track by $index" ng-style="{ 'opacity' : option.selected ? 0.2 : 1 }"
					ng-click="selectOption($index)">
						<div class="item-image">
							<img ng-src="{{option.image}}" />
						</div>
					</ion-item>
				</div>
			</ion-list>
			</ion-content>
		</ion-pull-up-content>
	</ion-pull-up-footer>
</ion-view>